<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    {{ form_start(login) }}
    {{ form_errors(login) }}

    {% if error is defined and error %}
        {{ error.message | trans }}
    {% endif %}

    {{ form_label(login.username) }}
    {{ form_widget(login.username, { 'value': last_username}) }}
    {{ form_errors(login.username) }}

    {{ form_label(login.password) }}
    {{ form_widget(login.password) }}
    {{ form_errors(login.password) }}

    {{ form_widget(login.remember_me) }}
    {{ form_label(login.remember_me) }}

    {{ form_widget(login.submit) }}

    {{ form_end(login) }}
</body>
</html>